/* METABOX GROUP */
.translogistic-metabox-group {
	border: 1px solid #eee;
	padding: 15px;
	margin-bottom:15px;
}

.metabox-group-title {
	font-weight: 600;
	text-transform: uppercase;
	background: #EEE;
	padding: 5px 15px;
	display: table;
	margin-top:1em;
}

.translogistic-metabox-group .metabox-group-sub-title {
	font-weight: 600;
	margin: 0px 0px 5px;
}

.translogistic-metabox-group .metabox-group-content p {
	margin:0px 0px 15px;
}

.translogistic-metabox-group .metabox-group-content p:last-child {
	margin:0px 0px 0px;
}

.post-type-post .metabox-group-header, .post-type-post .metabox-group-footer {
	display:none;
}

.post-type-post .metabox-group-header, .post-type-post .metabox-group-sidebar {
	margin-bottom:0px;
}

.post-type-post .is-single-none {
	display:none;
}

.gloria-metabox-list {
}

.gloria-metabox-list .gloria-metabox-list-name {
	width:20%;
	font-weight:600;
}

.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content {
	width:80%;
}

.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content input[type=text],
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content input[type=password],
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content input[type=checkbox],
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content input[type=color],
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content input[type=date],
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content input[type=datetime],
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content input[type=datetime-local],
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content input[type=email],
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content input[type=month],
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content input[type=number],
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content input[type=radio],
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content input[type=tel],
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content input[type=time],
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content input[type=url],
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content input[type=week],
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content input[type=search],
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content select,
.gloria-metabox-list .gloria-metabox-list-count .gloria-metabox-list-content textarea {
	min-width:30%;
}

.gloria-metabox-list .gloria-metabox-list-count {
	padding:8px 0px;
	display:flex;
	border-bottom: 1px solid #eee;
}

.gloria-metabox-list .gloria-metabox-list-count:last-child {
	padding-bottom:0px;
	border-bottom:0px;
}

#ui-datepicker-div {
	background: rgb(249,249,249); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%,rgba(221,221,221,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
	border:1px solid #CCC;
	padding:10px;
}

#ui-datepicker-div .ui-datepicker-header:after,
#ui-datepicker-div .ui-datepicker-header:before {
	content:'';
	display:block;
	clear:both;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev span,
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next span {
	text-indent: initial;
	overflow: auto;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev {
	display: table;
	background: #4E4E4E;
	border:1px solid #4E4E4E;
	color: #FFF;
	font-weight: 600;
	line-height: normal;
	cursor:pointer;
	float: left;
	padding: 1px 5px 2px;
	font-size: 11px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next {
	display: table;
	background: #4E4E4E;
	border:1px solid #4E4E4E;
	color: #FFF;
	font-weight: 600;
	line-height: normal;
	padding: 1px 5px 2px;
	font-size: 11px;
	cursor:pointer;
	float: right;
	text-align:right;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next:hover,
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev:hover {
	background:#EEE;
	color:#4E4E4E;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title {
	display: block;
	clear: both;
	text-align: center;
	padding: 10px 5px 5px;
	font-weight: 600;
	text-transform: uppercase;
}

#ui-datepicker-div .ui-datepicker-calendar a,
#ui-datepicker-div .ui-datepicker-calendar a:visited {
	color: #2B2B2B;
	text-decoration: none;
	display: block;
	font-weight: 500;
	padding:5px;
	text-align:center;
}

#ui-datepicker-div .ui-datepicker-calendar td {
	border: 1px solid #BFBFBF;
	background: #FFF;
}

#ui-datepicker-div .ui-datepicker-calendar td:hover {
	background: #aaa;
	border-color: #aaa;
}

#ui-datepicker-div .ui-datepicker-calendar td:hover a,
#ui-datepicker-div .ui-datepicker-calendar td a:hover, 
#ui-datepicker-div .ui-datepicker-calendar td a:focus {
	color:#FFF;
}

/* PAGE BUILDER */
.edit-field-listbox-list .edit_form_line label {
	display:block;
	margin-bottom:5px;
}

.edit-field-listbox-list  {
	margin: 16px;
	width: 100%;
	display: block;
}